backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
docutils==0.16
filelock==3.0.12
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
jeepney==0.4.3
keyring==21.2.1
kiwisolver==1.2.0
lz4==3.1.0
matplotlib==3.3.0
numpy==1.19.1
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
progressbar2==3.51.4
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.15.0
tqdm==4.47.0
traitlets==4.3.3
twine==3.2.0
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
xxhash==1.4.4
